body{
    margin: 20px;
    font-family: Verdana;
}
nav #menu-principal {
    padding: 10px 0px;
}
a[href]{
    
    text-decoration:none;
    color: green;
}

a:hover{
    text-decoration: underline;
}

#menu-principal a + a::before {
    content: " | ";
    color: black; 
}

footer{
    margin-top: 20px;
    border-top: solid 1px black;
    padding-top: 10px;
    text-align: center;
}

table {
    border-collapse:collapse;
  }

  
table , th, td {
    border: 1px solid black;
    padding: 10px;
}

/*La tabla cambiara de color el fondo para filas impares*/
tbody tr:nth-child(odd) {
    background-color: #CCF;
}

/*cambiar de color para las filas pares*/
 tbody tr:nth-child(even) {
    background-color: #CCC;
}

/*en la tabla para las filas pares al poner encima el cursor cambiara de color */
tbody tr:nth-child(even):hover{
    background-color: #DDD;
}
tbody tr:nth-child(odd):hover{
    background-color: #DDD;
}

/*aplicar sombra a la tabla*/
.sombra{
    box-shadow: 2px 2px 6px rgb(0, 0, 0,0.6);
} 
